	<link href="/assets/css/normalize.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

	
	<script src="/assets/js/vendor/custom.modernizr.js"></script>
    <!--[if lt IE 9]><script src="/assets/js/respond.min.js"></script><![endif]-->

     <!-- JQUERY UI DEPENDENCIES FOR SLIDER -->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>
	<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all"/>-->

	<!-- DEMO CUSTOM STYLES -->
	<!-- <link rel="stylesheet" href="/jic/css/demo.css"> -->
	
	<!-- HERE IS THE MAGIC ... -->
	<!--<script src="/jic/js/JIC.js" type="text/javascript"></script>
	<script src="/jic/js/demo.js" type="text/javascript"></script>-->

	


