  <div class="container-footer hide-for-small">
  {{#block 'footersrc'}}<img src="/assets/img/home-hd-ft.jpg" class="bg-footer" alt="Artwork from EAC competition"> {{/block}}
    <div class="row hide-for-touch">
      <div class="small-10 large-centered columns footer-nav-opacity">
        <div class="row">
          <div class="small-10 large-centered columns">
            <ul class="inline-list footer-nav-box">
              <li><a href="#">Top</a></li>
              <li class='current current'><a class='current current' href="index.html">Home</a></li>
              <li><a href="/info#panel1">Info for Artists</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="http://blog.eacartawards.org.uk/">Blog</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="https://www.facebook.com/EACArtAwards" target="_blank">Join us on<img src="/assets/img/fb.jpg" class="fb" alt="Facebook Icon"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>  
  </div>
