            
  <nav class="top-bar show-for-small">            
    <ul class="title-area">            
      <li class="name"><h1><a href="#">{{title}}</a></h1></li>            
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>            
    </ul>            

    <section class="top-bar-section">            
      <ul class="left">
        <li class="divider"></li>
        <li><a href="/index">Home</a></li>
        <li class="divider"></li>
        <li><a href="/about">About the EAC Art Awards</a></li>
        <li class="divider"></li>
        <li><a href="/gallery">Gallery of Finalists' Work</a></li>
        <li class="divider"></li>
        <li><a href="/info#panel1">Info for Artists</a></li>
        <li class="divider"></li>
        <li><a href="http://blog.eacartawards.org.uk">NEW - Artists' Group Blog</a></li>
        <li class="divider"></li>
        <li><a href="/shop">NEW - EAC Art Awards Shop</a></li>
        <li class="divider"></li>
        <li><a href="/contact">Contact Us</a></li>
        <li class="divider"></li>
        <li><a href="/archive">Archive</a></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
  
  <div class="container-nav-wrap hide-for-small">
    <div class="row container-nav-inner">
      <div class="small-12 large-12 columns">
        {{#block 'headersrc'}} <img src="/assets/img/home-hd-ft.jpg" class="bg-header" alt="Seema Gill"> {{/block}}
          <div class="row">
              <div class="small-12 large-10 columns">
                <img src="/assets/img/aa-logo-new.jpg" class="logo hide-for-small" alt="EAC Art Awards">
                <table class="navigation">
                  <tbody>
                    <tr>
                      <td class="white"><a href="/index">Home</a></td>
                      <td class="white-bottom"><a href="http://blog.eacartawards.org.uk/">NEW - Artists' Group Blog</a></td>
                    </tr>
                    <tr>
                      <td class="white"><a href="/about">About the EAC Art Awards</a></td>
                      <td class="white-bottom"><a href="/shop">NEW - EAC Art Awards Shop</a></td>
                    </tr>
                    <tr>
                      <td class="white"><a href="/gallery">Gallery of Finalists' Work</a></td>
                      <td class="white-bottom"><a href="/contact">Contact Us</a></td>
                    </tr>
                    <tr>
                      <td class="white-right"><a href="/info#panel1">Info for Artists</a></td>
                      <td><a href="/archive">Archive</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </div>
    </div>
  </div>
