{{#contentFor 'headersrc'}}<img src="/assets/img/about-hd-ft-v3.jpg" class="bg-header" alt="Seema Gill">{{/contentFor}}
{{#contentFor 'footersrc'}}<img src="/assets/img/about-hd-ft-v3.jpg" class="bg-footer" alt="Seema Gill">{{/contentFor}}
  
<div class="container-content">
<div class="row">
	<div class="small-12 large-8 columns">
		<h2>About Us</h2>
		<p>The EAC Over 60s Art Awards competition is non-profit making and is run by EAC (<a href="http://www.eac.org.uk/">Elderly Accommodation Counsel</a>) a UK based housing advice charity.</p>
		<p>This unique combination, of an older people's free and independent advice charity and a nationally respected long-standing Seniors' Art competition, has its roots in a commitment to encourage and publicise the continuing talent and creative energy of those in later life.</p> 
	</div>
		
	<div class="small-12 large-4 columns hero-image-box">
		<a href="#"><img src="/assets/img/about-hero-v3.jpg" class="hero-image" data-reveal-id="heroAbout" alt="Birches' by Lyn Anderson - finalist 2006"></a>
		<h6 class="text-center"><small><span data-tooltip class="has-tip" title="Click the image to see its full size">'Birches' by Lyn Anderson - finalist 2006</span></small></h6>
	</div>
			
</div>

<div class="row bullets">
	<div class="large-12 columns">
		<h4>Our Aims</h4>
		<ul class="disc thicker">
		<li class="li-spacing">To celebrate, showcase and reward the work of older artists - aged from 60 to 100+.</li>
		<li class="li-spacing">To foster and support opportunities for older artists to participate in creative activity, as not only rewarding in its own right, but also for its positive effect on overall physical and mental well-being.</li>
		<li class="li-spacing">To develop an online community of artists, and promote the use, benefits and joys of new technology, particularly among our older entrants.</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="small-12 large-4 columns">
		<h6>Did you know that <img src="/assets/img/eac-logo.jpg" alt="EAC Logo"></h6>
		<p><a href="http://www.housingcare.org/resources.aspx">has free fact sheets</a> on a range of subjects of interest to older people, many of which are illustrated with the work of previous Art Awards finalists and prize-winners.</p>
		<p><img src="/assets/img/fact-sheets.jpg" class="hero-image" alt="EAC Fact Sheets"></p>
		<p>has advisors <a href="http://www.firststopcareadvice.org.uk/advice-line.aspx">who provide confidential free advice</a> on housing and care options.</p>
		<h6 class="eac-address">EAC Art Awards<br>3rd Floor,<br>89 Albert Embankment,<br>London SE1 7TP</h6>
</div>

<div class="small-12 large-4 columns">
	<h6><img src="/assets/img/eac-art-awards-combined.jpg" alt="EAC Art Awards"></h6>
	<p>are supported by donations and sponsorship. This year, we are grateful to The John Ellerman Foundation for it's generous sponsorship of the Awards.</p>
	<p><img src="/assets/img/john-ellerman-foundation.jpg" class="john-ellerman" alt="John Ellerman Foundation"></p>
	<p>Without sponsorship, donations and voluntary effort, the EAC Art Awards would not be able to continue beyond their 20th birthday in 2014.</p>
	<p><a href="/contact">Could you volunteer</a> to help with EAC Art Awards, or write a regular post on our new group blog? If so we'd love to hear from you.</p>
</div>

<div class="small-12 large-4 columns">
	<h6 class="third-about-column">Contact Us</h6>
	<p><img src="/assets/img/ros-v2.jpg" class="hero-image" alt="Rosalind Barnes"></p>
	<p class="third-about-column">Volunteer <strong>Rosalind Barnes</strong>: <a href="/contact">artawardsenquiries@eac.org.uk</a>, <br>for all general enquiries.</p>
	<p><img src="/assets/img/marg-v2.jpg" class="hero-image" alt="Marg Millington"></p>
	<p class="third-about-column">Volunteer <strong>Marg Millington</strong>: <a href="/contact">marg.millington@eac.org.uk</a>, <br>for all Art Awards website enquiries.</p>
</div>

</div><!-- End of container-content -->

<div id="heroAbout" class="reveal-modal small" data-reveal>
  <h2>'Birches'</h2>
  <p class="lead">by Lyn Anderson, finalist 2006</p>
  <p><img src="/assets/img/about-hero-large-v2.jpg" class="hero-image" alt="Birches by Lyn Anderson"></p>
  <a href="/gallery" class="button secondary large expand">Gallery of Finalists' Work</a>
  <a class="close-reveal-modal">&#215;</a>
</div>
</div>
