{{#contentFor 'headersrc'}}<img src="assets/img/archive-hd-ft.jpg" class="bg-header" alt="Seema Gill">{{/contentFor}}
<div class="container-content">
		
			<div class="row">
				<div class="small-12 large-12 columns">
				<h2><img src="assets/img/eac-art-awards-combined.jpg" class="eac-logo" alt="EAC Art Awards"> Archive</h2>
				
				<p>Now close to their 20th birthday, the EAC Art Awards have a legacy of images, catalogues, videos, posters, exhibition literature and photos stretching back to the 1st Art Awards in 1994. Many of these have never been seen online before.</p>
				<p>By clicking on the links below, you can share in the Art Awards journey.</p>
				
				<h6>EAC Art Awards videos (4)</h6>
					<p><div class="row">
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2009</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2008</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2007</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2006</a></div>
					</div></p>
				
				<h6>Exhibition Catalogues (12)</h6>
					<p><div class="row">
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2012</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2008</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2004</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2000</a></div>
					</div></p>
					<p><div class="row">
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2011</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2007</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2003</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">1999</a></div>
					</div></p>
					<p><div class="row">	
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2009</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2006</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2001</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">1995</a></div>
					</div></p>
					
				<h6>Exhibition Photo Albums (3)</h6>
					<p><div class="row">	
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2012</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2011</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2009</a></div>
						<div class="large-3 columns"></div>
					</div></p>
					
					
				<h6>EAC Art Awards Websites (3)</h6>
					<p><div class="row">	
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2013 -</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2009 - 2013</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2006 – 2009</a></div>
						<div class="large-3 columns"></div>
					</div></p>
					
				<h6>Posters and Exhibition Literature (6)</h6>
					<p><div class="row">	
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2012</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2009</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2007</a></div>
						<div class="large-3 columns"></div>
					</div></p>
					
					<p><div class="row">	
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2011</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2008</a></div>
						<div class="large-3 columns"><a href="#" data-reveal-id="A1">2006</a></div>
						<div class="large-3 columns"></div>
					</div></p>

				
				</div>
				
			</div>
			
			
		
			
		</div><!-- End of container-content -->

<div id="A1" class="reveal-modal small" data-reveal>
			<h2>Opps!</h2>
				<p>We have not added this content just yet... try again later!</p>
				<a class="close-reveal-modal">&#215;</a>
		</div>
		

{{#contentFor 'footersrc'}}<img src="assets/img/archive-hd-ft.jpg" class="bg-footer" alt="Seema Gill">{{/contentFor}}