{{#contentFor 'headersrc'}}<img src="assets/img/contact-hd-ft.jpg" class="bg-header" alt="Seema Gill">{{/contentFor}}
{{#contentFor 'footersrc'}}<img src="assets/img/contact-hd-ft.jpg" class="bg-footer" alt="Seema Gill">{{/contentFor}}

	<div class="container-content">
			<div class="row">
				<div class="small-12 large-12 columns">
				<h2>EAC Art Awards - Contact Us</h2>
				<p>Please do contact us by email and we will get back to you as soon as possible, either by email or phone – whichever you prefer.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="small-12 large-6 columns">
				<p><img src="assets/img/ros-v2.jpg" class="hero-image" alt="Rosalind Barnes"></p>
				<p>Volunteer <strong>Rosalind Barnes</strong>: <br>artawardsenquiries@eac.org.uk,<br>for all general enquiries.</p>
				
				<p><img src="assets/img/marg-v2.jpg" class="hero-image" alt="Marg Millington"></p>
				<p>Volunteer <strong>Marg Millington</strong>: <br>marg.millington@eac.org.uk,<br>for all Art Awards website enquiries.</p>
				</div>
				
				<div class="small-12 large-6 columns">
				<form class="form-links">
					<fieldset>
						
							<label>Your Name</label>
								<input type="text" placeholder="Please enter your full name">
							<label>Your Email</label>
								<input type="text" placeholder="Please enter your primary email address">
							<label>Your Phone Number - If you would like us to phone you back</label>
								<input type="text" placeholder="Please enter your phone number including area code">
							<label>Your Message</label>
								<textarea placeholder="How can we help?"></textarea>
						
						
						<div class="row">
							<div class="small-12 large-6 columns">
							<a href="#" data-dropdown="name-dropdown" class="button dropdown secondary expand">Select</a>
							<ul id="name-dropdown" class="f-dropdown">
								<li><a href="#">Rosalind Barnes</a></li>
								<li><a href="#">Marg Millington</a></li>
							</ul>
							</div>
							<div class="small-12 large-6 columns">
							<a href="#" class="button alert expand">Submit</a>
							</div>
						</div>
							
							
					</fieldset>
				</form>
				
				
				<p class="text-center"><a href="#"><img src="assets/img/contact-hero.jpg" class="hero-image" data-reveal-id="heroContact" alt="Northern Winter Scene, by Frank Griffiths, entrant 2012"></a></p>
				<p class="text-center"><small>Northern Winter Scene, by Frank Griffiths, entrant 2012</small></p>
				
				
				</div>
			</div>
		</div><!-- End of container-content -->

		<div id="heroContact" class="reveal-modal small" data-reveal>
			<h2>Northern Winter Scene</h2>
			<p class="lead">by Frank Griffiths, entrant 2012</p>
			<p><img src="assets/img/contact-hero-large.jpg" class="hero-image"></p>
			<a href="/gallery" class="button secondary large expand">Gallery of Finalists' Work</a>
			<a class="close-reveal-modal">&#215;</a>
			</div>

