{{#contentFor 'headersrc'}}<img src="/assets/img/home-hd-ft.jpg" class="bg-header" alt="Seema Gill">{{/contentFor}}
{{#contentFor 'footersrc'}}<img src="/assets/img/home-hd-ft.jpg" class="bg-footer" alt="Artwork from EAC competition">{{/contentFor}}

	<div class="container-content">
		<div class="row">
			<div class="small-12 large-12 columns">
				<p class="text-center"> <strong>Apply online in two steps below</strong> or download the <a href="/enter">Application Form</a> <img src="assets/css/DownloadPDF.png"> </p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="columns">
				 <!-- <section id="wrapper"> -->
				    <article id='article'>

				      <div class='holder' id="holder">

				        <div id='holder_helper'>
				          <h2 id="holder_helper_title">Drag & Drop your Image here!</h2>
				        </div>

				        <img id="source_image" class='img_container'/>

				      </div>

				      <div class='holder' id='holder_result'>
				        <img id="result_image" class='img_container' />
				      </div>

				    

				      <div class='col' id='left-col'>
				        <fieldset>
				          <legend>Compressor settings</legend>
				          <div id="slider-range-min"></div>
				          <div id='controls-wrapper'>
				             Compression ratio : <input id="jpeg_encode_quality" size='3' readonly='true' type="text" value="70"/> %
				            <div id='buttons-wrapper'>
				              <a class='btn btn-large btn-primary' id="jpeg_encode_button">Compress</a>&nbsp;
				              <a class='btn btn-large btn-success' id="jpeg_upload_button">Upload</a>
				            </div>
				          </div>
				        </fieldset>
				      </div>

				      <div class='col' id='right-col'>
				        <fieldset>
				          <legend>Console output</legend>
				          <div id='console_out'></div>
				        </fieldset>
				      </div>

				     

				    </article>
				  <!-- </section> -->




			</div>
		</div>

	</div>
