  {{#contentFor 'headersrc'}}<img src="/assets/img/home-hd-ft.jpg" class="bg-header" alt="Seema Gill">{{/contentFor}}
  {{#contentFor 'footersrc'}}<img src="/assets/img/home-hd-ft.jpg" class="bg-footer" alt="Artwork from EAC competition">{{/contentFor}}

  <div class="container-content">
    <div class="row">
      <div class="small-12 large-8 columns">
        <h2>Welcome to <img src="/assets/img/eac-logo.jpg" class="eac-logo" alt="EAC Art Awards"> Art Awards</h2>
        <p>In 2014, the EAC Over 60s Art Awards will be 20 years old and we are proud to say were the first competition anywhere in the world to encourage and showcase the talent of older artists, aged 60 to 100+.</p><p>The annual competition welcomes entries from beginner and more experienced artists over 60 years of age working in any medium: watercolour, oil, acrylic, pastel, textiles, photography, sculpture, print, digital etc. Both individual and collaborative works are accepted.</p>         
      </div>
      <div class="small-12 large-4 columns hero-image-box">    
        <a href="#"><img src="/assets/img/seema-gill-home.jpg" class="hero-image" data-reveal-id="heroHome" alt="After Desolation: Oasis, by Seema Gill, entrant 2012"></a>
        <h6><small><span data-tooltip class="has-tip" title="Click the image to see its full size">After Desolation: Oasis, by Seema Gill, entrant 2012</span></small></h6>         
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-12 columns gbluebold-v2" id="link-padding-home">
        <p>Since 1994, the EAC Art Awards have attracted entries from over 30,000 artists. They now have an increasing online presence, with option of online entry, live viewing of entries as they come in, and online voting for the EAC People's Choice Award after the formal judging has taken place.</p>
        <p>Prizes and commendations are now awarded at an annual Celebration Event - most recently the House of Lords.</p>    
        <!-- Main sub-head for the home page -->
        <h5 id="pink-cta">The 2014 EAC Art Awards competition will open shortly for entries: <a href="#" data-reveal-id="emailUpdates">Have we got your email address?</a></h5>
      </div>
    </div>
              
    <div class="row">
      <div class="small-12 large-6 columns">
        <!-- Bullet list of home page links, without actual bullets -->
        <ul class="no-bullet gbluebold-v2">
          <li><a href="/info#panel5">NEWS about Art Awards 2014 launch</a></li>
          <li><a href="/info">Info for Artists</a></li>
          <li><a href="/gallery">Gallery of previous finalists and winners</a></li>
          <li><a href="/about">About the EAC Art Awards - background and people</a></li>
        </ul>
        <!-- End of bullet list -->
      </div>
      <div class="small-12 large-6 columns cta-box">
        <!-- Bullet list of home page links, without actual bullets -->
        <ul class="no-bullet gbluebold-v2">          
          <li><a href="/contact">Contact our team directly for information / advice</a></li>            
          <li><a href="http://blog.eacartawards.org.uk/">Read the latest on the new group blog</a></li>
          <li><a href="/contact">Volunteer to become one of our resident bloggers</a></li>
          <li><a href="/shop">Buy cards from our new shop</a></li>
        </ul>
        <!-- End of bullet list -->                
      </div>
    </div>
  </div><!-- End of container-content -->

  <div id="emailUpdates" class="reveal-modal small">
    <h2>Art Awards 2014</h2>
    <p class="lead"></p>
    <form class="form-links">
      <fieldset>
        <label>Your Name</label>
        <input type="text" placeholder="Please enter your name">
        <label>Your Email address</label>
        <input type="text" placeholder="Please enter your email address">
        <div class="row">
          <div class="small-12 large-6 columns"></div>
          <div class="small-12 large-6 columns">
            <a href="#" class="button alert expand">Submit</a>
          </div>
        </div>
      </fieldset>
    </form>

    <p>We will only send you updates about the Art Awards 2014 competition. (We will not drown you in daily nuisance emails, we promise!)</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
    
  <div id="heroHome" class="reveal-modal small" data-reveal>
    <h2>After Desolation: Oasis</h2>
    <p class="lead">by Seema Gill, entrant 2012</p>
    <img src="/assets/img/seema-gill-full-size.jpg" class="hero-image" alt="After Desolation: Oasis by Seema Gill, entrant 2012">
    <a class="close-reveal-modal">&#215;</a>
  </div>





