{{#contentFor 'headersrc'}}<img src="assets/img/info-hd-ft-v2.jpg" class="bg-header" alt="Seema Gill">{{/contentFor}}
{{#contentFor 'footersrc'}}<img src="assets/img/info-hd-ft-v2.jpg" class="bg-footer" alt="Seema Gill">{{/contentFor}}


<div class="container-content">
		
			<div class="row">
				<div class="small-12 large-8 columns">
				<h2>Info for Artists</h2>
				
				<p>The EAC Over-60s Art Awards are open to all artists over the age of 60, resident anywhere in the world. Works in all mediums  - 2D and 3D - are accepted, and must have been completed in the last 3 years, and since the artist reached the age of 60. There are no restrictions on subject matter.</p>
				<p>Artists may submit up to five works for the competition, either online or by post. <a href="#">Online entry</a> is by completion of the online form and the upload of jpeg images.</p>
				
				<p><a href="#">Postal entry</a> is by submission of the downloaded/printed entry form along with colour photographs or A4 print reproductions.</p> 

				<h5>Entry Fee</h5>
				
				<p>The entry fee is £5 per work.<br>Online payment is by Paypal or credit card.<br>Postal payment is by cheque, made payable to EAC Art Awards.</p>
				
				</div>
				<div class="small-12 large-4 columns hero-image-box">
					
					<a href="#"><img src="assets/img/info-hero-v2.jpg" class="hero-image" data-reveal-id="heroInfoPals" alt="Dear Old Pals, by Doreen Gilbert - finalist 2011"></a>
					<p class="text-center"><small>Dear Old Pals, by Doreen Gilbert - finalist 2011</small></p>	
				</div>
			</div>
			
		  <div class="row">
		<div class="large-12 columns">
			<div class="section-container auto" data-section data-options="deep_linking: true">
				<section>
					<p class="title" data-section-title><a href="#panel1">Overview</a></p>
					<div class="content content-links" data-slug="panel1" data-section-content>
					<h6>Beginners and More Experienced categories</h6>
					<p>Since 2012, EAC Art Awards have introduced a dual judging and prize structure, with separate beginner and more experienced/semi-professional artist categories. The separation of these two groups has helped to widen the appeal of The Awards, and to celebrate the quality of work and the talents of both.</p>
					<h6>Judging and Selection of prize-winners and highly commended artists</h6>
					<p>The judging panel, composed of art professionals and sponsors, makes a selection of prize-winners and highly commended artists from the online gallery of submitted images. Within four weeks of the closing date for entries, successful entrants are informed and subsequently invited to a celebration and prize-giving afternoon event at an iconic venue – in 2012/13 The House of Lords. Successful entrants do not need to transport their original work to the venue – prize-winning entries are displayed on large TV screens.</p>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel2">Prizes</a></p>
					<div class="content" data-slug="panel2" data-section-content>
					<h6>Prizes</h6>
					<p>Two prizes of £125 each will be awarded in each category, one for the best entry from a beginner and the other for the best entry from a more experienced artist. All artists must choose an appropriate category for each submission, from the following:</p>
					<div class="row">
						<div class="small-12 large-8 columns">
							<p>Watercolour<br>Oil<br>Drawing<br>Still life<br>Portrait<br>Landscape / Seascape<br>3D work – sculpture / craft / textile<br>Photography / Digital Art</p>
						</div>
						<div class="small-12 large-4 columns">
							<a href="#"><img src="assets/img/prizes-hilary-dancer.jpg" class="hero-image" data-reveal-id="heroInfoSun" alt="Into the Sun by Hilary Dancer, Highly Commended 2012"></a>
							<p><small>'Into the Sun' by Hilary Dancer, Highly Commended 2012</small></p>	
						</div>
					</div>
					<h6>The Angela Farnell Memorial Prize</h6>
					<p>Two £500 prizes will be awarded in memory of the founder of EAC. These prizes will be for the best entries from artists living in sheltered / retirement housing or a care home, or who entered through a day centre. The prize-money is divided between the artist and their sheltered scheme, care home or day centre.</p>
					<h6>The Art & Wellbeing Prize</h6>
					<p>One prize of £250 will be awarded. This is an optional prize for those who wish to share their experience of how their involvement in artistic activities has had a positive affect on their recovery from illness or a life-changing event. Individuals can either enter themselves for this prize or can be nominated by an art group leader, care home manager, health professional, or family and friends. Entries for this Prize are judged on the submitted image along with a short statement. Statements from last year will be considered if they are re-submitted with a brief update note.</p>
					<h6>Prize for Group Work</h6>
					<p>One prize of £250 will be awarded to the best collaborative entry.</p>
					<h6>The People's Choice Awards</h6>
					<p>Three People’s Choice prizes will be awarded in 2014. The overall winner will receive £150, and two runners up will each receive £75. Visitors to the online gallery vote for the People's Choice Award, with voting opening once the deadline for entries has passed.</p>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel3">FAQ</a></p>
					<div class="content" data-slug="panel3" data-section-content>
					<h6>Frequently Asked Questions</h6>
					<ul class="no-bullet">
						<li><a href="#" data-reveal-id="Q1">How do I decide if I’m a beginner or an experienced amateur?</a></li>
						<li><a href="#" data-reveal-id="Q2">I am not sure whether my work is good enough to enter?</a></li>
						<li><a href="#" data-reveal-id="Q3">Where does the entry money go?</a></li>
						<li><a href="#" data-reveal-id="Q4">I work in textile/mosaic/decoupage. Can I enter my work in EAC Art Awards?</a></li>
						<li><a href="#" data-reveal-id="Q5">I don’t live in ‘later life’ housing; can I still enter the competition?</a></li>
						<li><a href="#" data-reveal-id="Q6">A group of us work together in a care home, led by an art therapist. Can we enter our collaborative work?</a></li>
						<li><a href="#" data-reveal-id="Q7">What is the "Well-being" prize?</a></li>
						<li><a href="#" data-reveal-id="Q8">I have heard that the Art Awards is moving towards an online event. I don’t use a computer. Can I still enter?</a></li>
						<li><a href="#" data-reveal-id="Q9">I am not sure which category my work falls into?</a></li>
						<li><a href="#" data-reveal-id="Q10">I don’t use a computer; can I vote for the People's Choice Award by telephone or post?</a></li>
					</ul>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel4">People's Choice Award</a></p>
					<div class="content" data-slug="panel4" data-section-content>
					<h6>The EAC People’s Choice Award</h6>
					<div class="row update-margin">
						<div class="small-12 large-8 columns">
							<p>Voting for the popular EAC People’s Choice Award takes place once all the entries are in and the images available to view online – generally within one week of the closing date.</p>
					<p>The People’s Choice Award is a popular and exciting aspect of the Art Awards competition. Artists, their family and friends, and the general public can become involved by voting online for their three favourite works of art. Anyone can vote, whatever their age; after an initial registration, voters are allocated three rosettes to attach to their 1st, 2nd and 3rd preferences. </p>
						</div>
						<div class="small-12 large-4 columns">
							<a href="#"><img src="assets/img/harry-hero.jpg" class="hero-image" data-reveal-id="heroInfoHarry" alt="Harry by Edward Clark, entrant 2012"></a>
							<p class="text-center"><small>'Harry' by Edward Clark, entrant 2012</small></p>	
						</div>
					</div>
					<p>Voters have approx 4 weeks to browse the gallery and cast their votes. Voters can change their mind and de-select and re-select alternative preferences.  Comments can also be added, which are very much appreciated by entrants. Positive and constructive criticism are very much encouraged but please note that all comments are moderated before being posted on the artists’ page.</p>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel5">News: Art Awards 2014</a></p>
					<div class="content" data-slug="panel5" data-section-content>
					<h6>News</h6>
					<p>The 2014 EAC Art Awards Call for Entries will be launched in Autumn 2013. Please sign up to receive updates </p>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel6">Rules</a></p>
					<div class="content" data-slug="panel6" data-section-content>
					<ul class="ul.disc list-spacing">
						<li>Photocopies of the entry form are accepted</li>
						<li><strong>Entrants must be over 60 years of age</strong></li>
						<li>The work must have been executed within the last three years, and after the artist attained the age of 60</li>
						<li><strong>Work in any medium is accepted and there is no restriction to subject matter</strong></li>
						<li>Online entries should be submitted as jpeg files (These are files with a '.jpg' file extension.) Each digital file should not exceed 2MB</li>
						<li><strong>Postal entries should be submitted in the form of a colour photograph or laser print reproduction, no larger than A4 in size. PLEASE DO NOT SUBMIT FRAMED ORIGINAL WORKS, ONLY SEND REPRODUCED IMAGES</strong></li>
						<li>Each postal entry should be labelled clearly on the reverse with the title of the work and the entrant’s name and address</li>
						<li><strong>Postal entries must be accompanied by the official entry form (one per entrant) and appropriate fee. A maximum of 5 entries per artist is allowed</strong></li>
						<li>All entry fees go towards the administration of the competition and will not be refunded.</li>
						<li><strong>Postal entries cannot be returned unless a stamped addressed envelope is provided with the appropriate paid postage</strong></li>
						<li>Results will be announced on the website within 4 weeks of the closing date for entries. Those artists shortlisted for prizes will be invited to a special prize-giving event</li>
						<li><strong>The decision of the judging panel shall be final and EAC will not enter into correspondence with entrants or their representatives</strong></li>
						<li>The copyright remains with the artist, but EAC retains the right to photograph and/or reproduce images for the purposes of publicity, promotion, and fund-raising, including on its websites at:<br>
						<a href="http://www.eacartawards.org.uk/" target="_blank">Eac Art Awards</a><br><a href="http://www.eac.org.uk/" target="_blank">EAC</a><br><a href="http://www.housingcare.org/" target="_blank">Housing Care</a><br><a href="http://www.firststopcareadvice.org.uk/" target="_blank">First Stop Care Advice</a>
						</li>
					</ul>
					</div>
				</section>
			</div>
		</div>
	</div>	
				
			
		</div><!-- End of container-content -->

		<div id="Q1" class="reveal-modal">
		<h2>How do I decide if I’m a beginner or an experienced amateur?</h2>
		<p>The EAC Art Awards aim to attract entries from people who have taken up art in later life; perhaps whilst still at work or after retirement. Typically such artists have not earned their living either now or in the past, through their art.</p>
		<p>We do welcome entries from artists who make some money from sales and commissions. Clearly they would be ‘more experienced / semi-professional artists’. Those who have recently – say within the last 2 to 3 years – taken up their interest are more likely to come under the umbrella ‘ beginner / less-experienced amateur.</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="Q2" class="reveal-modal">
		<h2>I am not sure whether my work is good enough to enter?</h2>
		<p>In recognition of the wide range of ability and talent that exists within the label of ‘amateur’ artist, we now have two prizes for each category, beginner and experienced amateur. On the entry form we ask you to self select the group that best describes you and you will be entered for that prize. Our ambition is to encourage artists of all abilities and levels of experience to have a go and enjoy taking part. We also welcome entries from those who have produced a collaborative piece of work.</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="Q3" class="reveal-modal">
		<h2>Where does the entry money go?</h2>
		<p>EAC is a charity and the EAC Art Awards do not make a profit – in fact they generally make a financial loss. The entry fee goes some way towards our organisational and administrative costs. This year we have held the fee at £5 per entry  - the same as in 1995 - due to this year’s generous sponsorship by the John Ellerman Foundation.</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="Q4" class="reveal-modal">
		<h2>I work in textile/mosaic/decoupage. Can I enter my work in EAC Art Awards?</h2>
		<p>We accept any medium and you will need to be able to photograph your work. We welcome entries that are to your individual design (and not made from a kit). We aim to be inclusive and to celebrate creativity and talent in whatever material you use.</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="Q5" class="reveal-modal">
		<h2>I don’t live in ‘later life’ housing; can I still enter the competition?</h2>
		<p>Yes, all amateur and semi-professional artists over 60 can enter, but those who live in sheltered/retirement housing or care homes and people who enter from a day centre have the additional benefit of being considered for the Angela Farnell prize. This is awarded in memory of the founder of EAC.</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="Q6" class="reveal-modal">
		<h2>A group of us work together in a care home, led by an art therapist. Can we enter our collaborative work?</h2>
		<p>Yes, the Prize for Group Work is specifically for collaborative work, with or without the leadership of an artist or art therapist. The prize is not intended for art groups where the individual members complete their own individual works, but is intended for a larger-scale joint piece of work to which all members have made a contribution.</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="Q7" class="reveal-modal">
		<h2>What is the "Well-being" prize?</h2>
		<p>This is a new optional Award. We want to demonstrate how art may have helped people to manage a difficult life event. Perhaps you belong to an Art Therapy group or maybe you took up art following a bereavement, loss or illness. We ask you to provide a short summary of how art has helped you to overcome difficulties or given you a new interest.</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="Q8" class="reveal-modal">
		<h2>I have heard that the Art Awards is moving towards an online event. I don’t use a computer. Can I still enter?</h2>
		<p>Yes, we accept postal entries and they are treated equally to online entries. However, we wish to encourage those less familiar with the internet to develop new skills, and therefore, if possible, we encourage you to enter online. Family members or local libraries are a great resource. Do take a look at our new website, which we hope is very user friendly. There is nothing like the excitement of viewing your own work on the world wide web!
We check incoming entries, and an EAC Art Awards volunteer is available for support.</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="Q9" class="reveal-modal">
		<h2>I am not sure which category my work falls into?</h2>
		<p>There are 8 possible categories and we ask that you choose the one that you think is most applicable; you will then be entered for that prize. It is likely that some people will find that their work could fall into more than one category, in which case just choose the one that you would prefer to enter.</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="Q10" class="reveal-modal">
		<h2>I don’t use a computer; can I vote for the People's Choice Award by telephone or post?</h2>
		<p>Unfortunately we can only accept votes online. We have found that many people have successfully got round this by asking family, friends, neighbours or housing scheme managers to support them! It is a great way to get grandchildren involved and interested in your work. Remember that there are other prizes that you will qualify for.</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>

  
  
  
<div id="heroInfoPals" class="reveal-modal small">
  <h2>Dear Old Pals</h2>
  <p class="lead">by Doreen Gilbert - finalist 2011</p>
  <p><img src="assets/img/dear-old-pals-large.jpg" class="hero-image" alt="Dear Old Pals by Doreen Gilbert - finalist 2011"></p>
  <a href="gallery.html" class="button secondary large expand">Gallery of Finalists' Work</a>
  <a class="close-reveal-modal">&#215;</a>
  </div>
  
  <div id="heroInfoSun" class="reveal-modal small">
  <h2>'Into the Sun'</h2>
  <p class="lead">by Hilary Dancer, Highly Commended 2012</p>
  <p><img src="assets/img/hilary-dancer-large.jpg" class="hero-image" alt="Into the Sun by Hilary Dancer"></p>
  <a href="gallery.html" class="button secondary large expand">Gallery of Finalists' Work</a>
  <a class="close-reveal-modal">&#215;</a>
  </div>
  
  <div id="heroInfoHarry" class="reveal-modal small">
  <h2>'Harry'</h2>
  <p class="lead">by Edward Clark, entrant 2012</p>
  <p><img src="assets/img/harry-large.jpg" class="hero-image" alt="Harry by Edaward Clark"></p>
  <a href="gallery.html" class="button secondary large expand">Gallery of Finalists' Work</a>
  <a class="close-reveal-modal">&#215;</a>
  </div>
