{{#contentFor 'headersrc'}}<img src="/assets/img/home-hd-ft.jpg" class="bg-header" alt="Seema Gill">{{/contentFor}}
{{#contentFor 'footersrc'}}<img src="/assets/img/home-hd-ft.jpg" class="bg-footer" alt="Artwork from EAC competition">{{/contentFor}}
<div class="container-content">
	<div class="row">
		<div class="small-12 large-12">
			<p class="ranking-title"> <span class="rtitle">People's</span> Choice Award <br> 
				<img style="position:absolute; right:45%;" src="assets/css/topten.png"></p>
			<hr>
		</div>
	</div>

	<div style="padding-top:50px" class="small-12 large-12 upload-photo">
		
		<div class="progress"><span style="padding:2px" class="meter">Marg Millington Bungy Jump 
			<span class="right"> 10,000</span></span></div>
		<div class="progress" style="width:85%"><span style="padding:2px" class="meter" >Graham  Gower
			<span class="right"> 9,800</span></span></div>
		<div class="progress" style="width:82%"><span style="padding:2px" class="meter">Sue England
			<span class="right"> 9,500</span></span></div>
		<div class="progress" style="width:80%"><span style="padding:2px" class="meter">Peter Baker
			<span class="right"> 9,000</span></span></div>
		<div class="progress" style="width:80%"><span style="padding:2px" class="meter">Gina Warner
			<span class="right"> 9,000</span></span></div>
		<div class="progress" style="width:78%"><span style="padding:2px" class="meter">Norman Gooderham
			<span class="right"> 8,800</span></span></div>
		<div class="progress" style="width:76%"><span style="padding:2px" class="meter">Barbara Palmer
			<span class="right"> 8,700</span></span></div>
		<div class="progress" style="width:75%"><span style="padding:2px" class="meter">Alec Reed
			<span class="right"> 8,600</span></span></div>
		<p class="pdf" style="padding-right:-10px; margin-right:-50px"><img src="assets/css/DownloadPDF.png"><br> <a href="">28 ways to promote your work</a></p>
		<div class="progress" style="width:60%"><span style="padding:2px" class="meter">Doreen Crump
			<span class="right"> 6,600</span></span></div>
		<div class="progress" style="width:40%"><span style="padding:2px" class="meter">Sam Hall
			<span class="right"> 4,300</span></span></div>
		
	</div>
</div>
