{{#contentFor 'headersrc'}}<img src="assets/img/shop-hd-ft.jpg" class="bg-header" alt="Seema Gill">{{/contentFor}}
{{#contentFor 'footersrc'}}<img src="assets/img/shop-hd-ft.jpg" class="bg-footer" alt="Seema Gill">{{/contentFor}}

<div class="container-content">
		
			<div class="row">
				<div class="small-12 large-12 columns">
				<h2><img src="assets/img/eac-art-awards-combined.jpg" class="eac-logo" alt="EAC Art Awards"> Shop</h2>
				<h4>New for Autumn 2013</h4>
				<p><h5>Folding cards with envelopes (A6 size, 15 x 10 cms)</h5></p>
				
				
				<div class="panel">
					<p class="text-center"><strong>Christmas Selection </strong>– <strong class="pack">Pack of Four</strong> folding cards with envelopes  £3.25 incl p&amp;p</p>
					<p class="text-center">(With printed message ‘Season’s Greetings’)</p>
				
					<p><div class="row">
						<div class="large-3 columns">
							 <ul class="clearing-thumbs clearing-feature" data-clearing>
								<li class="clearing-featured-img"><a href="assets/img/fresh-snowfall-large.jpg"><img src="assets/img/fresh-snowfall-small.jpg" class="hero-image" alt=""></a></li>
								<li><a href="assets/img/winter-wonderland-walk-large.jpg"><img src="assets/img/winter-wonderland-small.jpg" alt=""></a></li>
								<li><a href="assets/img/southbank-winter-large.jpg"><img src="assets/img/southbank-winter-small.jpg" alt=""></a></li>
								<li><a href="assets/img/harrogate-snows-large.jpg"><img src="assets/img/harrogate-snows-small.jpg" alt=""></a></li>
							</ul>
						</div>
						
						<div class="large-3 columns">
							<ul class="clearing-thumbs clearing-feature" data-clearing>
								<li><a href="assets/img/fresh-snowfall-large.jpg"><img src="assets/img/fresh-snowfall-small.jpg" class="hero-image" alt=""></a></li>
								<li class="clearing-featured-img"><a href="assets/img/winter-wonderland-walk-large.jpg"><img src="assets/img/winter-wonderland-small.jpg" class="hero-image" alt=""></a></li>
								<li><a href="assets/img/southbank-winter-large.jpg"><img src="assets/img/southbank-winter-small.jpg" alt=""></a></li>
								<li><a href="assets/img/harrogate-snows-large.jpg"><img src="assets/img/harrogate-snows-small.jpg" alt=""></a></li>
							</ul>
						</div>
						<div class="large-3 columns">
							<ul class="clearing-thumbs clearing-feature" data-clearing>
								<li><a href="assets/img/fresh-snowfall-large.jpg"><img src="assets/img/fresh-snowfall-small.jpg" class="hero-image" alt=""></a></li>
								<li><a href="assets/img/winter-wonderland-walk-large.jpg"><img src="assets/img/winter-wonderland-small.jpg" alt=""></a></li>
								<li class="clearing-featured-img"><a href="assets/img/southbank-winter-large.jpg"><img src="assets/img/southbank-winter-small.jpg" class="hero-image" alt=""></a></li>
								<li><a href="assets/img/harrogate-snows-large.jpg"><img src="assets/img/harrogate-snows-small.jpg" alt=""></a></li>
							</ul>
						</div>
						<div class="large-3 columns">
							<ul class="clearing-thumbs clearing-feature" data-clearing>
								<li><a href="assets/img/fresh-snowfall-large.jpg"><img src="assets/img/fresh-snowfall-small.jpg" class="hero-image" alt=""></a></li>
								<li><a href="assets/img/winter-wonderland-walk-large.jpg"><img src="assets/img/winter-wonderland-small.jpg" alt=""></a></li>
								<li><a href="assets/img/southbank-winter-large.jpg"><img src="assets/img/southbank-winter-small.jpg" alt=""></a></li>
								<li class="clearing-featured-img"><a href="assets/img/harrogate-snows-large.jpg"><img src="assets/img/harrogate-snows-small.jpg" class="hero-image" alt=""></a></li>
							</ul>
						</div>
					</div></p>
					
					<div class="row">
						<div class="large-7 columns">
							<p></p> 
						</div>
						<div class="large-5 columns">
						
							<form>
								<div class="row collapse">
									<div class="large-4 columns">
										<span class="prefix">Quantity:</span>
									</div>
								<div class="large-3 columns">
									<input type="text" placeholder="1 Pack">
								</div>
								
								<div class="large-5 columns">
									<a href="#" class="button alert prefix">Add to Basket</a>
								</div>
								</div>
							</form>	
							
						</div>
					</div>
					
				</div><!-- End of panel1 -->
				
				<div class="panel">
					<p class="text-center"><strong>Flower Selection </strong>– <strong class="pack">Pack of Four</strong> folding note cards with envelopes  £3.25 incl p&amp;p</p>
					<p class="text-center">(Blank for your own message)</p>
				
					<p><div class="row">
						<div class="large-3 columns">
							<ul class="clearing-thumbs clearing-feature" data-clearing>
									<li class="clearing-featured-img"><a href="assets/img/flowers-in-watercolour-large.jpg"><img src="assets/img/flowers-in-watercolour-small.jpg" class="hero-image" alt=""></a></li>
								<li><a href="assets/img/yellow-summer-vase-large.jpg"><img src="assets/img/yellow-summer-vase-small.jpg" class="hero-image" alt=""></a></li>
								<li><a href="assets/img/end-of-summer-large.jpg"><img src="assets/img/end-summer-small.jpg" alt=""></a></li>
								<li><a href="assets/img/worktable-flowers-large.jpg"><img src="assets/img/worktable-flowers-small.jpg" alt=""></a></li>
							</ul>
						</div>
						<div class="large-3 columns">
							<ul class="clearing-thumbs clearing-feature" data-clearing>
									<li><a href="assets/img/flowers-in-watercolour-large.jpg"><img src="assets/img/flowers-in-watercolour-small.jpg" alt=""></a></li>
								<li class="clearing-featured-img"><a href="assets/img/yellow-summer-vase-large.jpg"><img src="assets/img/yellow-summer-vase-small.jpg" class="hero-image" alt=""></a></li>
								<li><a href="assets/img/end-of-summer-large.jpg"><img src="assets/img/end-summer-small.jpg" alt=""></a></li>
								<li><a href="assets/img/worktable-flowers-large.jpg"><img src="assets/img/worktable-flowers-small.jpg" alt=""></a></li>
							</ul>
						</div>
						<div class="large-3 columns">
							<ul class="clearing-thumbs clearing-feature" data-clearing>
									<li><a href="assets/img/flowers-in-watercolour-large.jpg"><img src="assets/img/flowers-in-watercolour-small.jpg" alt=""></a></li>
								<li><a href="assets/img/yellow-summer-vase-large.jpg"><img src="assets/img/yellow-summer-vase-small.jpg" class="hero-image" alt=""></a></li>
								<li class="clearing-featured-img"><a href="assets/img/end-of-summer-large.jpg"><img src="assets/img/end-summer-small.jpg" class="hero-image" alt=""></a></li>
								<li><a href="assets/img/worktable-flowers-large.jpg"><img src="assets/img/worktable-flowers-small.jpg" alt=""></a></li>
							</ul>
						</div>
						<div class="large-3 columns">
							<ul class="clearing-thumbs clearing-feature" data-clearing>
									<li><a href="assets/img/flowers-in-watercolour-large.jpg"><img src="assets/img/flowers-in-watercolour-small.jpg" alt=""></a></li>
								<li><a href="assets/img/fresh-snowfall-large.jpg"><img src="assets/img/yellow-summer-vase-small.jpg" class="hero-image" alt=""></a></li>
								<li><a href="assets/img/end-of-summer-large.jpg"><img src="assets/img/end-summer-small.jpg" alt=""></a></li>
								<li class="clearing-featured-img"><a href="assets/img/worktable-flowers-large.jpg"><img src="assets/img/worktable-flowers-small.jpg" class="hero-image" alt=""></a></li>
							</ul>
						</div>
					</div></p>
					
					<div class="row">
						<div class="large-7 columns">
							<p></p> 
						</div>
						<div class="large-5 columns">
							<form>
								<div class="row collapse">
									<div class="large-4 columns">
										<span class="prefix">Quantity:</span>
									</div>
								<div class="large-3 columns">
									<input type="text" placeholder="1 Pack">
								</div>
								
								<div class="large-5 columns">
									<a href="#" class="button alert prefix">Add to Basket</a>
								</div>
								</div>
							</form>
						</div>
					</div>
					
					
				</div><!-- End of panel2 -->
				
				<p>Cards are printed on Trucard, (gloss one side, matt reverse) and are supplied with good quality envelopes. <br>Postage refers to UK only.</p>
				
				
				</div>
			</div>
			
			
		
			
		</div><!-- End of container-content -->
