  {{#contentFor 'headersrc'}}<img src="/assets/img/home-hd-ft.jpg" class="bg-header" alt="Seema Gill">{{/contentFor}}
  {{#contentFor 'footersrc'}}<img src="/assets/img/home-hd-ft.jpg" class="bg-footer" alt="Artwork from EAC competition">{{/contentFor}}
   
<div class="container-content">
	<div class="row">
		<div class="small-12 large-12 columns">
			<p class="payment"><img style="position:relative; top:-5px;" src="assets/css/check_box.png"> Payment <span class="bolder">Successful</span></h2>
		</div>
	</div>
	<hr>

	<div class="small-12 large-6 columns upload-photo">
		<p> Your photos are now live: </p>
			<a href="">Sunshine in New Zealand</a> <br><br>
			<a href="">Marg Millington Bungy Jump</a> <br><br>
			<a href="">England, Raining... Again</a><br><br></p>
		<hr>

		<p class="TYSubtitle"> One Time Offer: </p>
		<p class="TYOffer"> We know, from experience, it can be hard selecting your best art work for our competition. So if you try out our new
			voting system for all three of your photos above we'll unlock the upload button below and allow you to upload three 
			more on us! </p>

		<img src="assets/css/OneTimeOffer.png">
		<br><br>
		<div style="position:absolute; left:100px"> <p style="margin-bottom:0px" class="text-center"> Please confirm your uploads : </p>   <a href="/thank-you-2"><button class="submit-button" type="submit" >CONFIRM</button></a> </div>

	</div>

	<div class="small-12 large-6 columns upload-photo">
		<div class="did-you-know">
			<h2 style="margin-bottom:0" class="text-center">Did you know...</h2>
			<p style="line-height:1" class="text-center">EAC made some changes this year <br> as it's the Art Awards 20th Birthday! </p>
			<p>
				<h5><img src="assets/css/VideoStill.png"> <a href="">New voting system </a> </h5>
				<h5><img src="assets/css/VideoStill.png"> <a href="">Twice weekly emails </a> </h5>
				<h5><img src="assets/css/VideoStill.png"> <a href="">Updating photos </a> </h5>
			</p>

			<p class="footer-title"><img style="position:absolute;left:90px;bottom:215px" src="assets/css/mail-icon.png"> <strong>We've emailed you</strong> these too just encase you don't have time now </p>
		</div>
	</div>

</div>
